@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}