@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

.fade-in {
    animation: 0.2s ease-in 0s fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}